    <div id="coming">
      <div class="head">
        <a href="#">COMING SOON !</a>
        
      </div>
      <div class="content">
        <h4>IRON MAN 4 </h4>
        <a href="#"><img src="/content/dam/watchtrailer/coming-soon1.jpg" alt="" /></a>
        <p>When Marvel announced their massive Phase Three lineup back in October, the studio revealed nine movies that will conclude with the release of Avengers: Infinity War Part 2 in May 2019...</p>
        <a href="#">Read more</a> </div>
      <div class="cl">&nbsp;</div>
      <div class="content">
        <h4>THOR RAGNAROK </h4>
        <a href="#"><img src="/content/dam/watchtrailer/coming-soon2.jpg" alt="" /></a>
        <p>Thor: Ragnarok is an upcoming American superhero film based on the Marvel Comics character Thor, produced by Marvel Studios and distributed by Walt Disney Studios Motion Pictures. ...</p>
        <a href="#">Read more</a> </div>
    </div>