  <div id="footer">
  
			<tr>
				<td colspan="4" height="20">
				</td>
			</tr>
		</table>
		<table border="0px" cellspacing="0" cellpadding="0" width="960px" height="100" background:url('images/body-bg.gif');><!-- table for link to social medias -->
			<tr>
				<td>
				<center>
				<a href="http://www.facebook.com"><img src="/content/dam/watchtrailer/facebook.png" height="30" width="30"></a>
				<a href="http://www.twitter.com"><img src="/content/dam/watchtrailer/twitter.png" height="30" width="30"></a>
				<a href="http://www.youtube.com"><img src="/content/dam/watchtrailer/youtube.png" height="30" width="30"></a>
				<a href="http://www.instagram.com"><img src="/content/dam/watchtrailer/instagram.png" height="30" width="30"></a>
				<p>Copy Right &copy; Protected</p>
				</center>
				</td>
			</tr>
		</table>
  
    <p>  <a href="#">WatchTrailer</a> - All Rights Reserved</p>
    <p class="rf">Design by <a href="http://watchtrailer.com/">Bibek Poudel Karki</a></p>
    <div style="clear:both;"></div>
  </div>